@import '../../styles/global.scss';

.cart {
    background: $grey;
    height: 85vh;
    top: 15vh;
    width: 50%;
    position: absolute;
    z-index: 5;
    right: -100%;
    transition: right 300ms ease-in-out;
    border-left: 1px solid $black;

    &.isOpen {
        right: 0;
    }

    &__title {
        font-family: MonumentExtended,sans-serif;
        width: 80%;
        margin: 50px auto;
        font-size: 30px;
    }

    &__productList {
        margin: 50px;
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        border-top: 1px solid $black;
        width: 80%;
        margin: 50px auto;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__productInfo {
        padding: 25px;
        border-right: 1px solid $black;
        text-align: center;
        border-bottom: 1px solid $black;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:nth-child(3n) {
            border-right: none;
        }

        &--top {
            font-family: MonumentExtended,sans-serif;
            border-bottom: 2px solid $black;
        }
    }

    &__removeProduct {
        position: absolute;
        right: -35px;
        cursor: pointer;

        img {
            width: 20px;
        }
    }

    &__emptyList {
        grid-column-start: span 3;
       padding: 25px;
       border-bottom: 1px solid $black;
       text-align: center;
    }

    &__buyButton {
        background: $black;
        color: $grey;
        font-family: MonumentExtended,sans-serif;
        padding: 10px 20px;
        opacity: 1;
        transition: opacity 300ms ease-in-out;
        margin-left: 10%;

        &:hover {
            opacity: 0.8;
        }
    }
}