@import '../../styles/global.scss';

.header {
    font-family: MonumentExtended,sans-serif;
    border-bottom: 1px solid $black;
    height: 15vh;
    display: flex;
    align-items: center;

    &__nav {
        width: 100%;
        height: 100%;
    }

    &__item {
        border-right: 1px solid $black;
        border-left: 1px solid $black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        text-transform: uppercase;
        font-size: 20px;

        &:nth-child(2){
            border-right: none;
        } 

        &--small {
            width: 15%;
            border: none;
        }

        &:not(&--small) {
            a {
                color: $black;
                transition: color 300ms ease-in-out;
                position: relative;
                padding: 5px 15px;
    
                &::after {
                    position: absolute;
                    bottom: -5px;
                    background: $black;
                    width: 0;
                    content: "";
                    left: 0px;
                    height: 40px;
                    transition: width 300ms ease-in-out;
                    z-index: -1;
                }
            }

            a {
                &:hover {
                    &::after {
                        width: 100%;
                    }
                    color: $grey;
                }
            }

            &.selected {
                a {
                    color: $grey;
                    
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        img {
            height: 30px;
            opacity: 1;
            transition: opacity 300ms ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &__cart {
        position: relative;
    }

    &__number {
        background: red;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
        z-index: 1;
        font-size: 10px;
        border-radius: 99px;
        top: -5px;
        right: -15px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
}